/* ==========================================================================
   Dominic's CSS - It's fantastic!
   ========================================================================== */

html {
	font-size: 1em;
	line-height: 1.4em;
	font-family:Garamond, serif;
	background-color:#000000;
	color:white;
	min-width:501px;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

a {
	color:white;
	text-decoration:none;
}

hr {
	display: block;
	height: 2px;
	border: 0;
	border-top: 1px solid #ccc;
	margin:0;
	margin-top:.5em;
	padding: 0;
}

body {
	background-color:#000000;
	padding: .5em 3em .5em 3em;
	position:relative;
	min-width:405px;
	max-width:700px;
	width:inherit;
	margin:0px auto;
}

h1 {
	font-size:3em;
	margin-top:.6em;
	margin-bottom:.35em;
}

h2 {
	text-align:center;
	font-size:1.75em;
	margin-top:.5em;
	margin-bottom:0em;
}

p {
	text-indent:2em;
}

ul {
	list-style-type:none;
}

img {
	max-width: 100%;
	height: auto;
}

.header {
	background: #000000;
	margin-top:1px;
}

.header a {
	text-align:center;
}

.navbar {
	width:700px;
	height:1em;
	margin:0em auto;
	padding-bottom:0em;
	padding-left:0em;
	list-style-type:none;
	text-align:center;
}

.navbar a {
	float:left;
	display:block;
	width:70px;
	text-align:center;
}

.main {
	background-color:#000000;
	min-width:405px;
	max-width:700px;
	margin:1em auto;
}

.date {
	float:right;
}

.list {
	text-indent:12em;
	list-style-type:none;
}

.footer {
	background: #000000;
	text-align:center;
	width:100%;
	margin:auto;
	padding-top:1em;
	padding-bottom:1em;
}

.footer p {
	font-size:1em;
}
