---
title: Projects
---
{% include header.html %}
<h2>{{page.title}}</h2>
	{% for post in paginator.posts %}
		<a href="{{post.url}}"><img src="{{site.url}}{{post.image}}"></a>
		<a style="font-size:1.25em;" href="{{ post.url }}">{{ post.title }}</a>
		<span class="date">{{ post.date | date_to_string }}</span>
		{{ post.excerpt }}
		<hr>
	{% endfor %}
<br>
<div style="text-align:center;">
	{% if paginator.previous_page %}
	<a href="{{ paginator.previous_page_path }}">Previous</a>
	{% else %}
	Previous &nbsp
	{% endif %}
	&nbsp {{ paginator.page }}/{{ paginator.total_pages }} &nbsp
	{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path }}">Next</a>
	{% else %}
	Next
	{% endif %}
</div>
{% include footer.html %}