<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{page.title}}</title>
		<meta name="description" content="Mechanics, electronics, and software: The personal projects of Dominic Doty">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/main.css">
		<script src="/js/googleanalytics.js"></script>
	</head>
	<body>  
		<div class="header">
			<div class="headerinner">
				<h1>Dominic Doty</h1>
				<ul class="navbar">
					<li><a href="http://www.dominicdoty.com/">Home</a></li>
					<li><a href="http://www.dominicdoty.com/about/">About</a></li>
					<li><a href="http://www.dominicdoty.com/resume/Dominic_Doty_Resume.pdf">Resume</a></li>
				</ul>
			</div>
		</div>
		<div class="main">