<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{page.title}}</title>
		<meta name="description" content="{{site.description}}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="icon" type="images/png" sizes="32x32" href="/images/favicon-32.png">
		<link rel="icon" type="images/png" sizes="180x180" href="/images/favicon-180.png">
	</head>
	<body>  
	<div class="main">
		<div class="header">
			<a href="{{ site.url }}"><h1>Dominic Doty</h1></a>
			<ul class="navbar">
				<li><a href="{{ site.url }}">Home</a></li>
				<li><a href="{{ site.url }}{% link about/index.md %}">About</a></li>
			</ul>
			<hr>
		</div>
		
