---
layout: default
---

<h2>{{ page.title }}</h2>

{% for tag in page.tags %}
   <span style="text-indent: 0;"><a href="/tags/{{ tag }}">More {{ tag | capitalize }}</a></span>
{% endfor %}

<span class="date">{{ page.date | date_to_string }}</span>

<img src="{{site.url}}{{page.image}}">

{{ content | markdownify }}

{% for tag in page.tags %}
   <div style="text-align: center; text-indent: 0;"><a href="{{site.url}}">Home</a> | <a href="/tags/{{ tag }}">More {{ tag | capitalize }}</a></div>
{% endfor %}

<hr>
